.label,
.label-range {
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.input-group {
    margin-bottom: 2.5rem;
}

.label-range {
    margin-bottom: 3rem;
}

.css-19kzrtu {
    padding: 0px !important;
}

.services {
    min-width: 20px;
}